# Operations

Some example of math operations on Python. Outputs are given immediately.

In [1]:
9 + 9 #kernel will output 18

18

In [2]:
8 / 3 #normal division, not "div"

2.6666666666666665

In [3]:
12 // 5 #div

2

In [4]:
9 % 4 #modulo

1

In [5]:
3 ** 4

81

In [6]:
print(4 * 5 + 3) #just print, kernel won't output

23

Functions mostly used on numbers (integers and floats)

In [7]:
round(22.3)

22

In [8]:
round(23.56)

24

In [9]:
min(2, 4, 7, 9)

2

In [10]:
max(3, 1, 0, 88, 2)

88

Example of boolean operations

In [11]:
a = 9 > 6
print(a)

True

In [12]:
b = 7 == 8
print(b)

False

In [13]:
# Given the value of a and b above.
c = a and b
c

False

In [14]:
d = a or b
d

True

In [15]:
e = not b
e

True

In [16]:
f = a and not b
f

True

In [17]:
g = 9 > 6 == 5
g

False

# Basic Variables

Basic variables mostly used in Python are int, float, bool, and str.

In [18]:
a = 5
b = 4.5
c = "Hello"
d = True
e = 9 > 6

In [19]:
type(a)

int

In [20]:
type(b)

float

In [21]:
type(c)

str

In [22]:
type(d)

bool

In [23]:
type(e)

bool

Some variables can be converted into another type. If type conversion failed, it will throw error instead.

In [24]:
int(b) #convert into int

4

In [25]:
#If run, will throw error because can't convert
#float(c)

In [26]:
int(5 == 5) #convert a boolean into int

1

# String

Some ways to concatenate string in Python.

In [27]:
name = "Taylor" + " " + "Swift"
name

'Taylor Swift'

In [28]:
#If run, will cause error because can only concatenate str
#print("My age is " + 20)

In [29]:
#Do this instead
print("My age is " + str(20))

My age is 20

The previous example is not the best way to concatenate string. Next examples will convert non-string into string immediately.

In [30]:
info = "My age is {} years old. I live in {}.".format(20, "Jakarta")
info

'My age is 20 years old. I live in Jakarta.'

In [31]:
remark = "The color is %s. Means it's %s." % ("red", "dangerous")
remark

"The color is red. Means it's dangerous."

In [32]:
name = "My name is Anton."
age = "My age is 17 years old."
full_sentence = "%s %s" % (name, age)
full_sentence

'My name is Anton. My age is 17 years old.'

String multiplication is also available, to repeat string.

In [33]:
repeated = "Hi!" * 4
repeated

'Hi!Hi!Hi!Hi!'

String basically consists of characters. But a character is allocated as string too.

In [34]:
string = "Hello!"
for c in string:
    print(type(c), c)

<class 'str'> H
<class 'str'> e
<class 'str'> l
<class 'str'> l
<class 'str'> o
<class 'str'> !

In [35]:
char = 'e'
print(char.isalpha())
print(char.isspace())
print(char.isdigit())

True
False
False

## Split

In [36]:
full_sentence.split() #by default, split with space

['My', 'name', 'is', 'Anton.', 'My', 'age', 'is', '17', 'years', 'old.']

In [37]:
full_sentence.split('.') #given '.' as parameter

['My name is Anton', ' My age is 17 years old', '']

In [38]:
full_sentence.split(maxsplit = 2) #only split based on n-first separators.

['My', 'name', 'is Anton. My age is 17 years old.']

Given <b>splitlines()</b>, a method to split string by lines.

In [39]:
paragraph = """Is this the real life?
Is this just fantasy?
Caught in a landslide
No escape from reality
"""
paragraph.splitlines()

['Is this the real life?',
 'Is this just fantasy?',
 'Caught in a landslide',
 'No escape from reality']

## Other Common Functions

In [40]:
full_sentence.upper()

'MY NAME IS ANTON. MY AGE IS 17 YEARS OLD.'

In [41]:
full_sentence.lower()

'my name is anton. my age is 17 years old.'

In [42]:
full_sentence.replace("Anton", "Budi")

'My name is Budi. My age is 17 years old.'

In [43]:
raw_input = '      My name is Budi.     '
raw_input.strip() #lstrip() and rstrip() are also available

'My name is Budi.'

In [44]:
len(full_sentence)

41

In [45]:
full_sentence[0]

'M'

In [46]:
tokens = ["My", "name", "is", "Budi"]
" ".join(tokens)

'My name is Budi'