# Ways to initialize list

In [1]:
# All of them are list
array = []
array_2 = list()
array_3 = [1, 2, 4, 6]
array_4 = [1, "a", 3.0]

In [2]:
type(array)

list

# Access and modify element

In [3]:
array = [1, 2, 3, 5, 7, 8, 9, 12]
array[1] #array index starts from 0

2

In [4]:
array[100]

IndexError: list index out of range

In [5]:
array[-1] #negative index means access array starting from last element.

12

In [6]:
array[1:4] #slicing, upper index is exclusive

[2, 3, 5]

In [7]:
array[1:]

[2, 3, 5, 7, 8, 9, 12]

In [8]:
array[:4]

[1, 2, 3, 5]

In [9]:
array[1] = 100
array

[1, 100, 3, 5, 7, 8, 9, 12]

In [10]:
del array[1] #remove element at given index
array

[1, 3, 5, 7, 8, 9, 12]

In [11]:
array[:] = [1, 8, 9, 12, 14]
array

[1, 8, 9, 12, 14]

In [12]:
array += [15, 17, 18]
array

[1, 8, 9, 12, 14, 15, 17, 18]

In [13]:
array.extend([19, 20, 21])
array

[1, 8, 9, 12, 14, 15, 17, 18, 19, 20, 21]

In [14]:
array * 2 #will double with its elements

[1,
 8,
 9,
 12,
 14,
 15,
 17,
 18,
 19,
 20,
 21,
 1,
 8,
 9,
 12,
 14,
 15,
 17,
 18,
 19,
 20,
 21]

In [15]:
9 in array

True

In [16]:
9 not in array

False

# Functions

In [17]:
arr = [1, 2, 4, 5, 2, 5, 3, 1, 2]
arr.count(2)

3

In [18]:
arr.append(4)
arr

[1, 2, 4, 5, 2, 5, 3, 1, 2, 4]

This will add the list object as its last element instead of concatenate the elements of the list.

In [19]:
arr2 = [1, 0, -1]
arr.append(arr2)

In [20]:
arr

[1, 2, 4, 5, 2, 5, 3, 1, 2, 4, [1, 0, -1]]

In [21]:
arr += arr2 #right list concatenation
arr

[1, 2, 4, 5, 2, 5, 3, 1, 2, 4, [1, 0, -1], 1, 0, -1]

In [22]:
arr.extend(arr2) #or this
arr

[1, 2, 4, 5, 2, 5, 3, 1, 2, 4, [1, 0, -1], 1, 0, -1, 1, 0, -1]

In [23]:
arr.remove(2) #remove first occurrence only
arr

[1, 4, 5, 2, 5, 3, 1, 2, 4, [1, 0, -1], 1, 0, -1, 1, 0, -1]

In [24]:
arr.insert(1, 99) #insert on specific index
arr

[1, 99, 4, 5, 2, 5, 3, 1, 2, 4, [1, 0, -1], 1, 0, -1, 1, 0, -1]

In [25]:
arr.pop(1) #remove an element and return its value

99

In [26]:
arr

[1, 4, 5, 2, 5, 3, 1, 2, 4, [1, 0, -1], 1, 0, -1, 1, 0, -1]

In [27]:
arr.reverse()
arr

[-1, 0, 1, -1, 0, 1, [1, 0, -1], 4, 2, 1, 3, 5, 2, 5, 4, 1]

In [28]:
arr.pop(6) #let's remove the list instance first

[1, 0, -1]

In [29]:
sorted(arr) #function to return sorted array, the array itself won't change

[-1, -1, 0, 0, 1, 1, 1, 1, 2, 2, 3, 4, 4, 5, 5]

In [30]:
arr #the original array didn't sorted too

[-1, 0, 1, -1, 0, 1, 4, 2, 1, 3, 5, 2, 5, 4, 1]

In [31]:
arr.sort() #but it will
arr

[-1, -1, 0, 0, 1, 1, 1, 1, 2, 2, 3, 4, 4, 5, 5]

In [32]:
arr.sort(reverse=True) # descending sort
arr

[5, 5, 4, 4, 3, 2, 2, 1, 1, 1, 1, 0, 0, -1, -1]

In [33]:
max(arr)

5

In [34]:
min(arr)

-1

In [35]:
len(arr)

15