# Tuple

Similar as list, but the elements are immutable.

In [1]:
my_tuple = (1, 3, 5, 7)

In [2]:
print(my_tuple[0])

1

In [3]:
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

Two or more lists, can be zipped to get list of tuples. zip() maps the elements from similar index.

In [4]:
list_1 = [2, 3, 4, 5]
list_2 = ['a', 'b', 'c', 'd']

zipped = zip(list_1, list_2)
tuples = list(zipped)
tuples

[(2, 'a'), (3, 'b'), (4, 'c'), (5, 'd')]

If zipped lists have different length, the number of mapped objects is their minimum length.

# Dictionary

Dictionary is a key-value data structure in Python.

In [5]:
# Both initialization ways work
dt = {}
dt_2 = dict()
type(dt)

dict

The key and value type can varies. Each key can only appear once. The order of the pairs is undetermined.

In [6]:
dt["name"] = "Anton"
dt[1] = 133
dt

{'name': 'Anton', 1: 133}

In [7]:
dt["address"] = "Earth"
dt

{'name': 'Anton', 1: 133, 'address': 'Earth'}

In [8]:
dt["address"] = "Indonesia"
dt

{'name': 'Anton', 1: 133, 'address': 'Indonesia'}

In [9]:
"address" in dt

True

In [10]:
"sex" in dt

False

The expression below will cause error if run.

In [11]:
dt["sex"]

KeyError: 'sex'

In [12]:
print(dt.get("sex"))

None

To safely get the value, pass a default value instead.

In [13]:
dt.get("sex", "male")

'male'

Other functions used with dictionary

In [14]:
dt.pop(1) #remove the key and return the removed value

133

In [15]:
dt

{'name': 'Anton', 'address': 'Indonesia'}

In [16]:
dn = {'name': 'Budi', 'age': 22}
dt.update(dn) #will update with new values from dn
dt

{'name': 'Budi', 'address': 'Indonesia', 'age': 22}

In [17]:
dt.keys()

dict_keys(['name', 'address', 'age'])

In [18]:
dt.values()

dict_values(['Budi', 'Indonesia', 22])

In [19]:
dt.items()

dict_items([('name', 'Budi'), ('address', 'Indonesia'), ('age', 22)])

# Set

Set is a collection that cannot contain duplicated element. To initialize a set, we can start either by a list or a collection denoted by {}.

In [20]:
s = {1, 2, 4, 4, 2, 3, 2, 2, 4}
print(type(s))
t = [1, 2, 4, 4, 6]
t = set(t)
print(type(t))

<class 'set'>
<class 'set'>

In [21]:
s

{1, 2, 3, 4}

In [22]:
t

{1, 2, 4, 6}

Some known functions of set are given below. Imagine the examples using Venn's diagram for better understanding.

In [23]:
s.union(t)

{1, 2, 3, 4, 6}

In [24]:
s.intersection(t)

{1, 2, 4}

In [25]:
s.difference(t)

{3}

In [26]:
s - t

{3}

In [27]:
t.issubset(s)

False

In [28]:
t < s #another way to express issubset

False

In [29]:
s.add(6)
s

{1, 2, 3, 4, 6}

In [30]:
t <= s

True

In [31]:
s.update([1, 3, 10])
s

{1, 2, 3, 4, 6, 10}

In [32]:
s.remove(10)
s

{1, 2, 3, 4, 6}

In [33]:
s.pop()
s

{2, 3, 4, 6}